<center><h4><%= list.get("title") %></h4></center>
<hr>
<div class="cards" id="<%=list.id + "cards" %>"</div>
<br>
<button class="add-card" id="<%=list.id%>" data-toggle="modal" data-target="div#add-field">Add Card</button>
<button class="delete-list" id="<%=list.get("board_id")%>">Delete List</button>